<!DOCTYPE html>
<html lang="en">
  <% include layout/header.ejs %>
  <body>
    <!-- Header -->
    <header class="z-depth-3 ">
      <% include layout/navigation %>

      <!--/.Navbar-->
      <!-- Mask -->
      <div id="intro" class="view">
        <div class="full-bg-img "></div>

        <div class="mask flex-center rgba-black-strong">
          <div class="d-flex justify-content-center">
            <div class="col-md-8 text-left white-text">
              <!-- Header -->
              <h2 class="display-3">Welcome!</h2>
              <hr class="container hr-light my-3" />
              <h5 class="gray-text my-3">
                Greetings from us all at Mastermind Inc. We are pleased to have
                you at our doorstep opening a whole new possibility for you to
                join us not just in business partnership but as a family...
              </h5>

              <a class="btn btn-success waves-effect btn-lg" href="register">
                Join Us Now!
              </a>

              <a href="terms" class="btn btn-purple waves-effect btn-lg">
                Learn More >>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Mask -->
    </header>
    <!-- Header -->
    <!-- main -->
    <main>
      <div class="container-fluid py-5 mb-3">
        <div class="container text-center">
          <p class="h1 font-bold mb-5">What we do</p>
          <div class="row">
            <!-- Column -->
            <div class="col-md-4 mb-4 align-items-stretch">
              <!--Card-->
              <div class="card">
                <!--Card image-->
                <div class="view">
                  <img
                    src="/assets/img/forex2.jpg"
                    class="card-img-top"
                    alt="Foreign Exchange Image"
                  />
                  <a href="#">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body text-left">
                  <!--Title-->
                  <h4 class="card-title ">Foreign Exchange</h4>
                  <!--Text-->
                  <p class="card-text">
                    It is not a fraudulent scheme neither is it a scam or a
                    Ponzi scheme where money is shuffled/recycled. It is neither
                    gambling but the careful study of a global market which is
                    influenced by government policies, politics, peace and war,
                    trades between countries.
                  </p>
                  <a href="terms" class="btn btn-purple btn-md waves-effect"
                    >Read More>></a
                  >
                </div>
              </div>
              <!--/.Card-->
            </div>
            <!-- Column -->

            <!-- Column -->
            <div class="col-md-4 mb-4  align-items-stretch">
              <!--Card-->
              <div class="card green darken-3">
                <!--Card image-->
                <div class="view">
                  <img
                    src="/assets/img/investment-plan.jpg"
                    class="card-img-top"
                    alt="Investment plan Image"
                  />
                  <a href="#">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body  text-left">
                  <!--Title-->
                  <h4 class="card-title white-text">Investment Plan</h4>
                  <!--Text-->
                  <p class="card-text white-text">
                    Here at Mastermind Inc we are currently involved in Foreign
                    exchange investment plan for an agreed time interval which
                    is dependent on your capital
                    <br /><br />
                    <br />
                    <br />
                  </p>
                  <a href="terms" class="btn btn-purple btn-md waves-effect"
                    >Read More>></a
                  >
                </div>
              </div>
              <!--/.Card-->
            </div>
            <!-- Column -->

            <!-- Column -->
            <div class="col-md-4 mb-4 align-items-stretch">
              <!--Card-->
              <div class="card">
                <!--Card image-->
                <div class="view">
                  <img
                    src="/assets/img/return.jpg"
                    class="card-img-top"
                    alt="Investment return image"
                  />
                  <a href="#">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body text-left">
                  <!--Title-->
                  <h4 class="card-title ">Return on Investment</h4>
                  <!--Text-->
                  <p class="card-text">
                    Every investment made by our investors will return at a
                    profit spread of 50% in specified working days (excluding
                    weekends and holidays.) depending on our policy at that
                    moment.
                    <br /><br />
                    <br />
                  </p>
                  <a href="terms" class="btn btn-purple btn-md waves-effect"
                    >Read More>></a
                  >
                </div>
              </div>
              <!--/.Card-->
            </div>
            <!-- Column -->
          </div>
        </div>
      </div>

      <div
        class="container-fluid warning-color-dark py-5 mb-3 z-depth-2 jarallax"
      >
        <div class="container text-center">
          <p class="h1 font-bold white-text mb-5">How we work</p>
          <div class="row">
            <div class="col-md-5 white-text">
              <p class="">
                Many may be wondering what’s in it for Mastermind Inc through my
                investment? Well during the trade whatever profit is found above
                the 50% belongs to the company as a commission on its services
                rendered. We have a team of sophisticated analysts who are
                dedicated in monitoring the global market to yield an expected
                result. At Mastermind Inc we guarantee of 50% profit on;
              </p>
            </div>
            <div class="col-md-7">
              <table class="table table-bordered">
                <thead class="black white-text">
                  <tr>
                    <th>Capital(#)</th>
                    <th>Duration(Working Days)</th>
                  </tr>
                </thead>
                <tbody class="white-text font-bold">
                  <tr>
                    <td>20,000 - 1,000,000</td>
                    <td>35</td>
                  </tr>
                  <tr>
                    <td>1,100,000 - 2,500,000</td>
                    <td>45</td>
                  </tr>
                  <tr>
                    <td>2,600,000 - 5,000,000</td>
                    <td>70</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid py-5 z-depth-2">
        <div class="container text-center">
          <p class="h1 font-bold mb-5">See what awaits you</p>
          <div class="row">
            <div class="accordion col-sm-12" id="accordionExample">
              <div class="card z-depth-0 bordered">
                <div class="card-header btn-success" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link btn-lg btn-block"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <i class="fas fa-donate fa-4x white-text"></i>
                      <p class="mt-3 white-text font-weight-bold">
                        What We Offer
                      </p>
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        We offer safe returns of both your investment capital
                        and profit at its expected time
                      </li>
                      <li class="list-group-item">
                        We also offer a 5% token on referrals as a sign of
                        gratitude for expanding Mastermind Inc.
                      </li>
                      <li class="list-group-item">
                        A chance to financial freedom.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card z-depth-0 bordered">
                <div class="card-header btn-amber " id="headingTwo">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link btn-lg btn-block collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <i
                        class="fas fa-exclamation-triangle fa-4x white-text"
                      ></i>

                      <p class="mt-3 white-text font-weight-bold">
                        Our Requirement
                      </p>
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <h4>
                      In other to serve you better we kindly require our
                      investors to consider some of our requirements
                    </h4>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Investors are not allowed to advertise other businesses
                        within any of the company’s platforms or privately to
                        any of the company’s client.
                      </li>
                      <li class="list-group-item">
                        Foul languages or abusive words are prohibited on the
                        platforms.
                      </li>
                      <li class="list-group-item">
                        In case of any question(s) it should be directed to the
                        appropriate official. See below the following contacts
                        and their roles
                      </li>
                      <li class="list-group-item">
                        We urge that every investor click the link in order to
                        be added to our payment proof page and also like the
                        page. Upon receiving payment every investor is required
                        to post his/her payment proof on our page. Click link:
                        <a
                          href="https://web.facebook.com/groups/2158195827548635/"
                          >https://web.facebook.com/groups/2158195827548635/</a
                        >
                      </li>
                      <li class="list-group-item">
                        In terms of religion we believe that every investor
                        should respect the religion of another investor. If
                        guilty of otherwise, the company would see an
                        appropriate penalty for such action.
                      </li>
                      <li class="list-group-item">
                        It is a felony for any investor to use the company’s
                        name for their own personal benefit.
                      </li>
                      <li class="list-group-item">
                        Payment duration are to be counted excluding Saturdays,
                        Sundays and holidays.
                      </li>
                      <li class="list-group-item">
                        For referral, do ensure to contact the appropriate
                        official
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card z-depth-0 bordered">
                <div class="card-header btn-danger" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link btn-lg btn-block collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      <i class="fas fa-user-ninja  fa-4x white-text"></i>

                      <p class="mt-3 white-text font-weight-bold">
                        When You Default
                      </p>
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <h4>
                      In any case that any of these requirements are faulted or
                      ignored, swift action is taken by the company which
                      includes
                    </h4>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Instant withdrawal from the company with instant refund
                        of capital
                      </li>
                      <li class="list-group-item">
                        Suspension from the company
                      </li>
                      <li class="list-group-item">
                        Increase in duration of payment.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- What we offer
            Our requirement
            When you default. -->
          </div>
        </div>
      </div>
    </main>
    <!-- main -->
    <% include layout/footer.ejs %>
  </body>
</html>
