<!DOCTYPE html>
<html lang="en">
  <% include layout/header.ejs %>
  <body>
    <!-- Header -->
    <% include layout/navigation %>
    <main>
      <div id="main-container" class="container-fluid py-4 m-0">
        <!-- Default form login -->
        <div class="container col-md-4 mx-auto m-5">
          <!--Panel-->
          <div class="card">
            <h5
              class="card-header deep-purple accent-4 white-text text-uppercase font-weight-bold text-center py-4"
            >
              <i class="fas fa-sign-in-alt "></i>
              Login
            </h5>
            <div class="card-body px-0 py-0">
              <form
                class="text-center rounded purple lighten-5 border border-light p-5"
              >
                <!-- Email -->
                <input
                  type="email"
                  id="defaultLoginFormEmail"
                  class="form-control mb-4"
                  placeholder="E-mail"
                />

                <!-- Password -->
                <input
                  type="password"
                  id="defaultLoginFormPassword"
                  class="form-control mb-4"
                  placeholder="Password"
                />

                <div class="d-flex justify-content-around">
                  <div>
                    <p>
                      Not a member? <br />
                      <a href="register">Register</a>
                    </p>
                  </div>
                  <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                  </div>
                </div>

                <!-- Sign in button -->
                <button
                  class="btn btn-deep-purple btn-block  my-4"
                  type="submit"
                >
                  Sign in
                </button>
              </form>
            </div>
          </div>
          <!--/.Panel-->
        </div>
        <!-- Default form login -->
      </div>
    </main>
    <!-- main -->
    <% include layout/footer.ejs %>
  </body>
</html>
