<!DOCTYPE html>
<html lang="en">
  <% include layout/header.ejs %>
  <body>
    <!-- Header -->
    <% include layout/navigation %>
    <main>
      <div id="main-container" class="container-fluid py-4 m-0">
        <!-- Default form login -->
        <div class="container col-md-5 col-xl-4 mx-auto m-5">
          <!--Panel-->
          <div class="card">
            <h5
              class="card-header deep-purple accent-4 white-text text-uppercase font-weight-bold text-center py-4"
            >
              <i class="fas fa-edit "></i>
              Join Us Now
            </h5>
            <div class="card-body px-0 py-0">
              <!-- Default form register -->
              <form
                id="registrationForm"
                class="text-center rounded purple lighten-5 border border-light p-5"
              >
                <div class="form-row mb-4">
                  <div class="col">
                    <!-- First name -->
                    <input
                      type="text"
                      id="firstName"
                      class="form-control"
                      placeholder="First name"
                    />
                  </div>
                  <div class="col">
                    <!-- Last name -->
                    <input
                      type="text"
                      id="lastName"
                      class="form-control"
                      placeholder="Last name"
                    />
                  </div>
                </div>
                <div id="gendersContainer" class="form-row mb-4">
                  <!-- TODO: Append the separator with css :before -->
                  <!-- <span class="purple white-text display-6 rounded pl-1 pr-1"
                    >Or</span
                  > -->
                  <div class="col">
                    <!-- Last name -->
                    <label class="radio-inline">
                      <input
                        type="radio"
                        class="gender"
                        name="gender"
                        value="female"
                      />
                      Female
                    </label>
                  </div>
                </div>
                <script id="gendersTemplate" type="text/template">
                    {{#genders}}
                    <div class="col">
                      <!-- First name -->
                      <label class="radio-inline">
                        <input
                          type="radio"
                          class="gender"
                          name="gender"
                          value={{_id}}
                        />
                        {{name}}
                      </label>
                    </div>
                  {{/genders}}
                </script>

                <!-- E-mail -->

                <input
                  type="email"
                  id="email"
                  class="form-control mb-4"
                  placeholder="E-mail"
                />

                <!-- Password -->
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="Password"
                />

                <br />
                <!-- Confirm Password -->
                <input
                  type="password"
                  id="confirmPassword"
                  class="form-control"
                  placeholder="Password Again"
                />
                <small
                  id="defaultRegisterFormPasswordHelpBlock"
                  class="form-text text-muted mb-4"
                >
                  At least 4 characters and 1 digit
                </small>

                <!-- Phone number -->
                <input
                  type="text"
                  id="phoneNumber"
                  class="form-control"
                  placeholder="Phone number"
                  aria-describedby="defaultRegisterFormPhoneHelpBlock"
                />
                <small
                  id="defaultRegisterFormPhoneHelpBlock"
                  class="form-text text-muted mb-4"
                >
                  Optional - but required for group membership
                </small>

                <!-- Sign up button -->
                <button
                  class="btn btn-deep-purple btn-block my-4 btn-block"
                  type="submit"
                >
                  Sign Up
                </button>

                <hr />

                <!-- Terms of service -->
                <p>
                  By clicking <em>Sign up</em> you agree to our
                  <a href="" target="_blank">terms of service</a>
                </p>
              </form>

              <!-- Default form register -->
            </div>
          </div>
          <!--/.Panel-->
        </div>
        <!-- Default form login -->
      </div>
    </main>
    <!-- main -->
    <% include layout/footer.ejs %>
    <script src="/assets/js/scripts/register.js"></script>
  </body>
</html>
