<!DOCTYPE html>
<html lang="en">
  <% include layout/header.ejs %>
  <body>
    <!-- Header -->
    <% include layout/navigation %>
    <main>
      <div id="main-container" class="container-fluid  py-4 m-0">
        <div class="container ">
          <div class=" bold-text white-text">
            <h1 class="h1">Terms of Membership</h1>
            <hr class="white" />
            <!-- Text -->
            <article class="">
              <h3 class="h3 amber-text darkened-4">Welcome</h3>

              <p class="gray-text">
                Greetings from us all at Mastermind Inc. We are pleased to have
                you at our doorstep opening a whole new possibility for you to
                join us not just in business partnership but as a family. It is
                our goal that you ground and give us your trust with time and be
                a part of the many who would take Mastermind Inc to the world at
                large.
              </p>
            </article>

            <article class="">
              <h3 class="h3 amber-text darkened-4">What we do</h3>

              <p class="gray-text">
                Here at Mastermind Inc we are currently involved in Foreign
                exchange investment plan for a duration of 35 working days at a
                profit spread of 50% on your capital (working days excluding
                weekends and holidays. The Foreign Exchange market which is
                popularly known as “Forex” is a global market for buying and
                selling of foreign currencies, cryptocurrencies and shares on a
                global scale. The trading is similar to the traditional buying
                at lower prices or placing a Client’s Investment on a particular
                currency or share at a point in which the increase or decrease
                in value of that currency/share/trade would yield a favourable
                profit to both parties. In lay-man terms, forex is the legal
                black market for buying and selling of currencies and shares. It
                is not a fraudulent scheme neither is it a scam or a Ponzi
                scheme where money is shuffled/recycled. It is neither gambling
                but the careful study of a global market which is influenced by
                government policies, politics, peace and war, trades between
                countries.
              </p>
            </article>
            <article class="">
              <h3 class="h3 amber-text darkened-4">How we operate</h3>

              <p class="gray-text">
                Many may be wondering what’s in it for Mastermind Inc through my
                investment? Well during the trade whatever profit is found above
                the 50% belongs to the company as a commission on its services
                rendered. We have a team of sophisticated analysts who are
                dedicated tin monitoring the global market to yield an expected
                result. At Mastermind Inc we guarantee of 50% profit on;
                <table class="table table-bordered">
                    <thead class="black white-text">
                      <tr>
                        <th>Capital(#)</th>
                        <th>Duration(Working Days)</th>
                      </tr>
                    </thead>
                    <tbody class="white-text font-bold">
                      <tr>
                        <td>20,000 - 1,000,000</td>
                        <td>35</td>
                      </tr>
                      <tr>
                        <td>1,100,000 - 2,500,000</td>
                        <td>45</td>
                      </tr>
                      <tr>
                        <td>2,600,000 - 5,000,000</td>
                        <td>70</td>
                      </tr>
                    </tbody>
                  </table>
                
              </p>
            </article>
           <h4>In the aspect of monitoring your investment, we aim at transparency so
              daily posts on going trades and closed trades are being updated on various
              platforms.</h4>
            <article class="">
                <h3 class="h3 amber-text darkened-4">What we offer</h3>
  
                <ul>
                  <li>
                    We offer safe returns of both your investment capital and profit at its
                      expected time.
                    </li>
                    <li>
                        We also offer a 5% token on referrals as a sign of gratitude for expanding
                          Mastermind Inc.
                    </li>
                    <li>
                      A chance to financial freedom.

                    </li>
                </ul>
                <h5>In other to serve you better we kindly require our investors to consider some
                    of our requirements;
                  </h5>
                  <ul>
                    <li>
                        Investors are not allowed to advertise other businesses within any of the
                        company’s platforms or privately to any of the company’s client.
                    </li>
                    <li>
                        Foul languages or abusive words are prohibited on the platforms.
                    </li>
                    <li>
                        In case of any question(s) it should be directed to the appropriate official.
                        See below the following contacts and their roles.
                    </li>
                    <li>
                        We urge that every investor click the link in order to be added to our
                        payment proof page and also like the page. Upon receiving payment every
                        investor is required to post his/her payment proof on our page.
                        
                    </li>
                    <li>
                        In terms of religion we believe that every investor should respect the
                        religion of another investor. If guilty of otherwise, the company would see
                        an appropriate penalty for such action.
                    </li>
                    <li>
                        It is a felony for any investor to use the company’s name for their own
                        personal benefit.
                    </li>
                    <li>
                        Payment duration are to be counted excluding Saturdays, Sundays and
                        holidays.
                    </li>
                    <li>
                        For referral, do ensure to contact the appropriate official.
                    </li>
                  </ul>
                  <h5>In any case that any of these requirements are faulted or ignored, swift
                      action is taken by the company which includes;
                    </h5>
                    <ul>
                      <li>
                          Instant withdrawal from the company with instant refund of capital.
                      </li>
                      <li>
                          Suspension from the company.
                      </li>
                      <li>
                          Increase in duration of payment.
                      </li>
                    </ul>
              </article>
              <h4>
                  We do hope you would be a long life partner with us and see this great vision
                  to its destination.
              </h4>
             
              
            </div>
          <div class="">
            <div class="view overlay ">
              <img
                class="img-fluid"
                src="/assets/img/Mastermindwall.jpg"
                alt="Mastermind wall image"
              />

              <div class="mask rgba-white-slight"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- main -->
    <% include layout/footer.ejs %>
  </body>
</html>
