html,
body,
header,
#intro {
  height: 100%;
}
#intro {
  background: url("../img/bg/intro.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.top-nav-collapse {
  background-color: #1c2331;
}
/* #home-logo {
  position: absolute;
  z-index: 1000;
} */

.card-text::first-letter,
.how-we-work::first-letter {
  font-size: 2em;
  font-weight: 700;
}
.jarallax {
  background: url("../img/bg/jarallax.jpg");
}
#main-container {
  background: url("../img/bg/jarallax2.jpg");
}
