  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #1d183d;">
      <div class="container">
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
          <!-- Grid column -->
          <div
            class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
          >
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!-- Facebook -->
            <a
              href="https://web.facebook.com/groups/2158195827548635/"
              class="fb-ic"
            >
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Master Mind Inc</h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px;"
          />
          <p>
            <p class="h6">About us</p> 
            <hr/>
            Mastermind is an online investment platform
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px;"
          />
          <p>
            <a href="#!">Investment</a>
          </p>
          <p>
            <a href="#!">Reward</a>
          </p>
          <p>
            <a href="#!">Interest</a>
          </p>
          <p>
            <a href="#!">Finantial Freedom</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px;"
          />
          <p>
            <a href="#!">About Us</a>
          </p>
          <p>
            <a href="#!">How it Works</a>
          </p>
          <p>
            <a href="#!">Login</a>
          </p>
          <p>
            <a href="#!">Join Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px;"
          />
          <p><i class="fas fa-home mr-3"></i>47, Jakpa road, Warri, Delta State.</p>
          <p><i class="fas fa-envelope mr-3"></i> mastermindinc@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 234 701 442 2278</p>
          <p><i class="fas fa-print mr-3"></i> + 234 701 522 2064</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2019 Copyright:
      <a href="#"> Rapidbite</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/assets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/assets/js/mdb.js"></script>
  <!-- Mustach js -->
  <script type="text/javascript" src="/assets/js/mustache.min.js"></script>

  <!-- jwt decode  -->
  <script type="text/javascript" src="/assets/js/jwt-decode.min.js"></script>
  <!-- axios promise library -->
  <script type="text/javascript" src="/assets/js/axios.min.js"></script>


  <!-- repository of functions script -->
  <script src="/assets/js/scripts/repository.js"></script>


