<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Mastermind inc</title>
  <!-- icon link -->
  <link
    rel="icon"
    href="/assets/img/logo/logo.jpg"
    sizes="32x32"
    type="image/png"
  />

  <!-- Font Awesome -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  />
  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Material Design Bootstrap -->
  <link href="/assets/css/mdb.min.css" rel="stylesheet" />
  <!-- Your custom styles (optional) -->
  <link href="/assets/css/style.css" rel="stylesheet" />
</head>
