<!--Navbar-->
<nav class="navbar navbar-expand-lg elegant-color-dark navbar-dark  ">
  <!-- Navbar brand -->
  <div class="container">
    <!-- <a href="#" class="navbar-brand">
            Mastermind
          </a> -->
    <a class="navbar-brand" href="/"
      ><img
        src="/assets/img/logo/logo.png"
        alt="master mind logo"
        id="home-logo"
        class="img-fluid rounded my-0"
    /></a>

    <!-- Collapse button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#basicExampleNav"
      aria-controls="basicExampleNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="terms">Terms of Membership</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li> -->
      </ul>
      <!-- Links -->

      <div>
        <a href="login" class="btn btn-sm btn-amber waves-effect">
          Login <i class="fas fa-sign-in-alt "></i>
        </a>
      </div>
    </div>
    <!-- Collapsible content -->
  </div>
</nav>
